.home_header {
    text-align: center;
}

.home_subheader {
    font-style: italic;
}

.chat_container {
    margin: auto;
}

.chatbox {
    height: 250px;
    width: 222.5px;
    background-color: white;
    margin: auto;
}

.type_container {
    margin-top: 20px;
}